<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="output.css" />
    <title>Error - Page not found</title>
  </head>

  <body>
    <a href="/register">
      <div class="bg-errorBG h-screen bg-contain bg-center bg-no-repeat"></div>
    </a>
  </body>
</html>
