<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="output.css" />
    <title>Pinterest - Sign Up</title>
  </head>

  <body>
    <!-- Signup form -->
    <div
      class="flex h-screen items-center justify-center bg-loginBG bg-cover bg-center bg-no-repeat"
    >
      <!-- SIGNUP CONTAINER -->
      <div
        class="flex flex-col items-center justify-center gap-6 rounded-3xl bg-white xxs:min-h-[80%] xxs:w-[85%] md:h-[55%] md:w-[60%] lg:h-[75%] lg:w-[33%]"
      >
        <!-- Logo -->
        <img src="logo.png" alt="Logo" class="w-[70px]" />

        <!-- Heading -->
        <h1 class="font-semibold xxs:text-2xl md:text-3xl">
          Sign up to Pinterest
        </h1>

        <form
          action="/register"
          method="post"
          class="space-y-2 xxs:w-[75%] md:w-[60%]"
        >
          <!-- Name -->
          <div>
            <label for="email" class="ml-1 text-[#636363]">Name :</label>
            <br />
            <input
              type="text"
              name="name"
              placeholder="Name"
              class="w-full rounded-xl border-2 border-gray-300 p-2 indent-3"
            />
          </div>

          <!-- Email -->
          <div>
            <label for="email" class="ml-1 text-[#636363]"
              >Email address :</label
            >
            <br />
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="w-full rounded-xl border-2 border-gray-300 p-2 indent-3"
            />
          </div>

          <!-- Password -->
          <div>
            <label for="password" class="ml-1 text-[#636363]">Password :</label>
            <br />
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="w-full rounded-xl border-2 border-gray-300 p-2 indent-3"
            />
          </div>

          <br />

          <!-- Sign up -->
          <button
            type="submit"
            class="mx-auto block w-[60%] rounded-3xl bg-[#E60023] py-2 font-bold text-white hover:bg-[#ff1111]"
          >
            Sign up
          </button>
        </form>

        <!-- Terms & Conditions -->
        <p class="w-[60%] text-center text-[11px]">
          By continuing, you agree to Pinterest's
          <a
            href="https://policy.pinterest.com/en-gb/terms-of-service"
            target="_blank"
            class="font-bold"
          >
            Terms of Service
          </a>
          and acknowledge that you've read our
          <a
            href="https://policy.pinterest.com/en-gb/privacy-policy"
            target="_blank"
            class="font-bold"
          >
            Privacy Policy
          </a>
        </p>

        <!-- Log In -->
        <p class="text-sm">
          Already a member?
          <a href="/" class="font-semibold underline-offset-4 hover:underline">
            Log in
          </a>
        </p>
      </div>
    </div>
  </body>
</html>
